{% extends 'base.html' %}
{% block title %}Edit {{pet.name}}{% endblock %}
{% block content %}
  <div class="container-fluid m-3 px-5">
    <h1 class="text-center">Edit {{pet.name}}</h1>
    <form class="px-5" action="/{{pet.id}}" method="POST">
      {{form.hidden_tag() }}
      {% for field in form if field.widget.input_type != 'hidden' %}
      <div class="form-group">
        {{field.label}}
        {{field(class="form-control", required=False, value="{{pet.}}{{field}}")}}
      </div>
        {% for err in field.errors %}
        <div class="alert alert-danger" role="alert">
         {{err}}
        </div>
        {% endfor %}
      {% endfor %}

      <button type="submit" class="btn btn-primary">Edit</button>
      <a href="/{{pet.id}}" class="btn btn-danger">Cancel</a>
    </form>
  </div>
{% endblock %}